@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto Flex', sans-serif;
}

.placeholder {
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: 250px;
    margin-top: 60px;
}

.topPart {
    background-color: #1f2937;
    padding-bottom: 100px;
}



.header {
    display: flex;
    align-items: center;
}

.logo {
    width: 64px;
    height: 64px;
    margin-left: 350px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    transition: 250ms;
    text-decoration: none;
    margin-right: 30px;
}

a:hover {
    transform: translateY(-5px);
}

.links {
    display: flex;
    margin-left: auto;
}

.lastLink {
    margin-right: 250px;
}

.hero {
    display: flex;
}

.heroText {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 350px;
    margin-top: 60px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    max-width: 400px;
    color: #f9faf8;
}

.heroText p {
    max-width: 400px;
    margin-top: 30px;
}

.btn {
    margin-left: 350px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 10px;
    transition: 250ms;
    border-style: none;
}

button:hover {
    transform: translateY(-5px);
}

.midHeader {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 50px;
    justify-content: center;
}

.catPics {
    max-width: 300px;
    max-height: 300px;
}

.catImages {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
}

.textUnderCats {
    display: flex;
    margin-top: 20px;
    gap: 80px;
    margin-left: 230px;
}

.catText1, .catText2, .catText3, .catText4 {
    max-width: 300px;
}

.bottomPart {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.quote {
    max-width: 1000px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    padding: 80px 0px;
}

.writer {
    margin-top: 50px;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}

.signUp {
    align-items: center;
    font-size: 24px;
    font-weight: 300;
    max-width: 800px;
    max-height: 300px;
    margin-top: 100px;
    padding: 30px 50px;
    display: flex;
    margin-left: 510px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 30px;
    margin-bottom: 200px;
}

.bold {
    font-size: 30px;
    font-weight: bold;
}

.bottomBtn {
    width: 120px;
    height: fit-content;
    border-color: #e5e7eb;
    border-style: solid;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px 0;
}